#commentSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 4rem;
    width: 100svw;
    min-height: 100svh;
    height: fit-content;
    gap: 2rem;
}

#commentSection .article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: calc(100% - 2rem);
    max-width: 960px;
}

#commentSection .article .mainTypo {
    margin-bottom: 2rem;
    font-family: "AlmarenaDisplay";
    font-size: 4rem;
    font-weight: 700;
    color: var(--gray-800);
    line-height: 4.5rem;
    text-align: center;
}

#commentSection .commentInput {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

#commentSection .commentInput .inputNickname,
#commentSection .commentInput .inputContext {
    width: 100%;
    padding: 1.5rem;
    border: 1px solid #00000022;
    border-radius: 0.75rem;
    outline: none;
    transition: border 0.5s;
}

#commentSection .commentInput .inputNickname:focus,
#commentSection .commentInput .inputContext:focus {
    border: 1px solid #00000099;
}

#commentSection .commentInput .inputContext {
    resize: none;
}

#commentSection .commentInput .controlWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    width: 100%;
}

#commentSection .commentInput .controlWrap .hint {
    flex: 1;
    color: #aaa;
    padding: 0 0.5rem;
}
#commentSection .commentInput .controlWrap button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s;
}

#commentSection .commentInput .controlWrap .initBtn {
    background-color: #ffffff;
    border: 1px solid #00000022;
    color: #000000;
}
#commentSection .commentInput .controlWrap .initBtn:hover {
    background-color: #00000009;
}
#commentSection .commentInput .controlWrap .sendBtn {
    background-color: #000000;
    border: 1px solid #000000ee;
    color: #ffffff;
}

#commentSection .commentInput .controlWrap .sendBtn:hover {
    background-color: #000000cc;
}

#commentSection .commentContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 100%;
}

#commentSection .commentContainer .comment {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    min-height: 10rem;
    border: 1px solid #00000022;
    border-radius: 0.75rem;
    box-shadow: 0 0.25rem 0.5rem #00000009;
    transition: scale 0.3s, box-shadow 0.3s;
}

#commentSection .commentContainer .comment:hover {
    scale: 1.02;
    box-shadow: 0 0.375rem 0.625rem #00000009;
}

#commentSection .commentContainer .comment .context {
    flex: 1;
    font-size: 1rem;
    font-weight: 400;
    color: #111111;
    user-select: none;
}

#commentSection .commentContainer .comment .infoWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#commentSection .commentContainer .comment .infoWrap .nickName {
    font-size: 0.875rem;
    font-weight: 400;
    color: #999999;
    user-select: none;
}

#commentSection .commentContainer .comment .infoWrap .created {
    font-size: 0.875rem;
    font-weight: 300;
    color: #999999;
    user-select: none;
}
