#commentSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
    width: 100svw;
    min-height: 100svh;
    height: fit-content;
    gap: 2rem;
}

#commentSection .article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: calc(100% - 2rem);
    max-width: 1280px;
}

#commentSection .article .mainTypo {
    margin-bottom: 2rem;
    font-family: "AlmarenaDisplay";
    font-size: 4rem;
    font-weight: 700;
    color: var(--gray-800);
    line-height: 4.5rem;
    text-align: center;
}

.digalogInput {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.digalogInput .inputNickname,
.digalogInput .inputContext {
    width: 100%;
    padding: 1rem;
    border: 1px solid #00000022;
    border-radius: 0.75rem;
    outline: none;
    transition: border 0.5s;
}

.digalogInput .inputNickname:focus,
.digalogInput .inputContext:focus {
    border: 1px solid #00000099;
}

.digalogInput .inputContext {
    resize: none;
}

.digalogInput .controlWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    width: 100%;
}

.digalogInput .controlWrap .hint {
    flex: 1;
    color: #aaa;
    padding: 0 0.5rem;
}
.digalogInput .controlWrap button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s;
}

.digalogInput .controlWrap .initBtn {
    background-color: #ffffff;
    border: 1px solid #00000022;
    color: #000000;
}
.digalogInput .controlWrap .initBtn:hover {
    background-color: #00000009;
}
.digalogInput .controlWrap .sendBtn {
    background-color: #000000;
    border: 1px solid #000000ee;
    color: #ffffff;
}

.digalogInput .controlWrap .sendBtn:hover {
    background-color: #000000cc;
}

#commentSection .commentContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 100%;
}

#commentSection .commentContainer .commentInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    width: 100%;
    min-height: 12rem;
    background-color: #ffffff;
    border: 1px solid #0000001c;
    border-radius: 0.75rem;
    box-shadow: 0 0.25rem 0.5rem #00000009;
    transition: scale 0.3s, box-shadow 0.3s, border 0.3s;
}

#commentSection .commentContainer .commentInput:hover {
    scale: 1.02;
    border: 1px solid #00000044;
    box-shadow: 0 0.375rem 0.625rem #00000009;
}

#commentSection .commentContainer .commentInput .iconWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    background-color: #0000001c;
    border-radius: 50%;
    color: #00000044;
    transition: background-color 0.3s, color 0.3s;
}

#commentSection .commentContainer .commentInput:hover .iconWrap {
    background-color: #000000cc;
    color: #ffffff;
}

#commentSection .commentContainer .comment {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.5rem;
    width: 100%;
    min-height: 12rem;
    background-color: #ffffff;
    border: 1px solid #0000001c;
    border-radius: 0.75rem;
    box-shadow: 0 0.25rem 0.5rem #00000009;
    transition: scale 0.3s, box-shadow 0.3s;
    user-select: none;
}

#commentSection .commentContainer .comment:hover {
    scale: 1.02;
    box-shadow: 0 0.375rem 0.625rem #00000009;
}

#commentSection .commentContainer .comment .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

#commentSection .commentContainer .comment .header .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #00000011;
    border: 1px solid #00000011;
    border-radius: 50%;
}

#commentSection .commentContainer .comment .header .nickname {
    flex: 1;
    font-size: 1rem;
    font-weight: 500;
    color: #000000;
}

#commentSection .commentContainer .comment .header .date {
    font-size: 1rem;
    color: #727272;
}

#commentSection .commentContainer .comment .context {
    font-size: 1rem;
    color: #000000;
}

@media (max-width: 1279px) {
    #commentSection .commentContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 959px) {
    #commentSection .commentContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 639px) {
    #commentSection .commentContainer {
        gap: 0.5rem;
        grid-template-columns: repeat(1, 1fr);
    }
    #commentSection .commentContainer .commentInput {
        padding: 0.75rem;
        min-height: 2rem;
    }
    #commentSection .commentContainer .commentInput .iconWrap {
        width: 2rem;
        height: 2rem;
    }
}
