#landingPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100svw;
    min-height: 100svh;
    overflow: hidden;
    transition: background 1s;
    scroll-snap-type: y mandatory;
}

#landingPage .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100svh;
    scroll-snap-align: start;
}

#landingPage .section.section1 {
    align-items: center;
    justify-content: center;
    background-image: url("@/assets/images/bg-main-article.png");
    background-repeat: no-repeat;
    background-size: 150% 110%;
    background-position: 50% 50%;
    box-shadow: inset 0 0 2rem 2rem white;
}

.article {
    display: flex;
    width: 100%;
    max-width: 1280px;
}

.section1 .article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 500;
}

.section1 {
    position: relative;
    opacity: 0;
    animation: section1Bg 1.5s forwards;
}

.section1 .mainTypo {
    margin-bottom: 2rem;
    font-size: 10rem;
    font-weight: 700;
    text-align: center;
    line-height: 11rem;
    letter-spacing: -0.125rem;
    color: #000000;
    opacity: 0;
    animation: section1MainTypo 1.5s forwards;
}

.section1 .mainTypo p:nth-child(1),
.section1 .mainTypo p:nth-child(2) {
    color: var(--dgu-orange);
}

.outlineTypo {
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--dgu-orange);
}

.section1 .animationWrap {
}

.section1 .animationWrap .mouseWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    width: 2rem;
    opacity: 0;
    animation: section1Mouse 1s forwards;
    animation-delay: 1.5s;
}

.section1 .animationWrap .mouseWrap .mouseBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 3rem;
    border: 2px solid black;
    border-radius: 1rem;
}

.section1 .animationWrap .mouseWrap .mouseWheel {
    width: 0.375rem;
    height: 0.375rem;
    background-color: black;
    border-radius: 0.25rem;
    transform: translateY(-100%);
    animation: wheelDown 1.5s infinite;
    animation-delay: 2.5s;
    opacity: 0;
}

.glowTypo {
    background: linear-gradient(
        45deg,
        #000000 45%,
        #919191 49% 51%,
        #000000 55%
    );
    background-size: 200%;
    color: transparent;
    -webkit-background-clip: text;
    animation: glow 3s infinite;
}

.section1 .object {
    position: absolute;
    animation: hovering 1s 1s infinite ease-in-out;
}

.section1 .object.obj1 {
    width: 10rem;
    top: 50%;
    left: 40%;
    z-index: 499;
    animation-delay: 0.8s;
    opacity: 0.4;
}
.section1 .object.obj2 {
    width: 20rem;
    top: 20%;
    left: 80%;
    z-index: 501;
    animation-delay: 0.1s;
    opacity: 0.9;
}
.section1 .object.obj3 {
    width: 30rem;
    top: 70%;
    left: -5%;
    z-index: 501;
    animation-delay: 0.75s;
}
.section1 .object.obj4 {
    width: 15rem;
    top: 30%;
    left: 50%;
    z-index: 499;
    animation-delay: 0.4s;
    opacity: 0.6;
}
.section1 .object.obj5 {
    width: 30rem;
    top: -20%;
    left: 25%;
    z-index: 499;
    animation-delay: 0.1s;
}
.section1 .object.obj6 {
    width: 20rem;
    top: 25%;
    left: 10%;
    z-index: 501;
    animation-delay: 0.5s;
    opacity: 0.85;
}
.section1 .object.obj7 {
    width: 26rem;
    top: 60%;
    left: 60%;
    z-index: 499;
    animation-delay: 0.7s;
}

#landingPage .section.section2 {
    height: 150svh;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(var(--dgu-yellow) 2px, transparent 0),
        radial-gradient(var(--dgu-orange) 1px, transparent 0);
    background-size: 3rem 3rem;
}

.section2 .article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100svw;
    max-width: 100svw;
}

.section2 .article .sectionTitle {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    opacity: 0;
    transform: translateY(50%);
    animation: typoPopUp 1s forwards;
}

.section2 .article .sectionDesc {
    font-size: 1rem;
    font-weight: 400;
    color: var(--gray-500);
    text-align: center;
    margin-bottom: 4rem;
    opacity: 0;
    animation: typoFadeIn 1s 0.5s forwards;
}

.section2 .article .contentContainer {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 0 8rem;
    width: 100svw;
}

.section2 .article .contentContainer::-webkit-scrollbar {
    display: none;
}

.section2 .article .contentContainer .contentSlideWrap {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    transition: translate 1s;
}

.section2 .article .contentContainer .content {
    display: flex;
    flex-direction: column;
    /* height: 20rem; */
    width: 16.75svw;
    aspect-ratio: 5/6;
    background: var(--gray-50);
    border-radius: 0.5rem;
    background-size: cover;
    background-position: center center;
    opacity: 0;
    animation: contentPadeIn 2s forwards;
    animation-delay: 3s;
}

.section2 .article .contentContainer .content:nth-child(1) {
    transform: translate(-500%, 0) scale(3);
    animation: contentSlideIn1 2.75s forwards;
    animation-delay: 0.25s;
    z-index: 1;
}
.section2 .article .contentContainer .content:nth-child(2) {
    transform: translate(-500%, -500%) scale(4);
    animation: contentSlideIn2 3s forwards;
    animation-delay: 0;
    z-index: 2;
}
.section2 .article .contentContainer .content:nth-child(3) {
    transform: translate(0%, -500%) scale(5);
    animation: contentSlideIn3 3s forwards;
    animation-delay: 0;
    z-index: 3;
}
.section2 .article .contentContainer .content:nth-child(4) {
    transform: translate(500%, -500%) scale(5);
    animation: contentSlideIn4 2.5s forwards;
    animation-delay: 0.5s;
    z-index: 2;
}
.section2 .article .contentContainer .content:nth-child(5) {
    transform: translate(500%, 0) scale(3);
    animation: contentSlideIn5 2.9s forwards;
    animation-delay: 0.1s;
    z-index: 1;
}

.section2 .article .contentContainer .content .contentWrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    background-image: linear-gradient(
        30deg,
        var(--dgu-yellow-75) 50%,
        transparent 51%
    );
    background-size: 300% 200%;
    background-position: 0 -100%;
    background-repeat: no-repeat;
    transition: background-position 0.75s;
}

.section2 .article .contentContainer .content:hover .contentWrap {
    background-position: 0 100%;
}

.section2 .article .contentContainer .content .contentWrap .contentHeader,
.section2 .article .contentContainer .content .contentWrap .desc {
    display: none;
    opacity: 0;
    transition: opacity 0.5s;
}
.section2 .article .contentContainer .content:hover .contentWrap .contentHeader,
.section2 .article .contentContainer .content:hover .contentWrap .desc {
    display: flex;
    opacity: 1;
}

.section2 .article .contentContainer .content .contentWrap .contentHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.section2
    .article
    .contentContainer
    .content
    .contentWrap
    .contentHeader
    .tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
}

.section2
    .article
    .contentContainer
    .content
    .contentWrap
    .contentHeader
    .tags
    .tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 0.75rem;
    height: 2.25rem;
    border: 1px solid white;
    border-radius: 1.125rem;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1rem;
    cursor: pointer;
}

.section2
    .article
    .contentContainer
    .content
    .contentWrap
    .contentHeader
    .link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 2.25rem;
    height: 2.25rem;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.section2
    .article
    .contentContainer
    .content
    .contentWrap
    .contentHeader
    .link:hover {
    background-color: white;
    color: var(--dgu-orange);
}

.section2 .article .contentContainer .content .contentWrap .desc {
    display: flex;
    width: 100%;
    max-height: 4.5rem;
    overflow: hidden;
    color: white;
}

.section2 .article .contentContainer .controlBtn {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    background-color: white;
    box-shadow: 0 0.25rem 0.5rem #cccccc99;
    transform: translateY(-50%) scale(1);
    transition: background-color 0.3s;
    z-index: 2000;
    opacity: 0;
    animation: controlBtnFadeIn 0.3s 3s forwards;
    cursor: pointer;
}

.section2 .article .contentContainer .controlBtn:hover {
    background-color: #efefef;
}

.section2 .article .contentContainer .controlBtn.prvBtn {
    left: 2rem;
    top: 50%;
}

.section2 .article .contentContainer .controlBtn.nxtBtn {
    right: 2rem;
    top: 50%;
}

#landingPage .section.section3 {
    display: flex;
    flex-direction: row;
    padding-top: 4rem;
    height: calc(100svh + 4rem);
    background-color: var(--dgu-orange);
    border-radius: 4rem 4rem 0 0;
}

.section3 .article {
    align-items: center;
    justify-content: center;
    max-width: 100svw;
    height: 100%;
}

.section3 .article .mainTypo {
    font-size: 12rem;
    font-weight: 500;
    line-height: 6rem;
    color: white;
}
