#landingPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5svh;
    width: 100svw;
    min-height: 100svh;
    background-color: var(--background-color);
    overflow: scroll;
    transition: background 1s;
}
