#landingPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100svw;
    min-height: 100svh;
    overflow: hidden;
}

#landingPage .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100svh;
}

#landingPage .section.section1 {
    align-items: center;
    justify-content: center;
    background: white;
    /* background-image: radial-gradient(#e1e1e1 2px, transparent 0); */
    background-image: url("@/assets/images/bg-main-article.png");
    background-repeat: no-repeat;
    background-size: 150% 110%;
    background-position: 50% 50%;
    box-shadow: inset 0 0 2rem 2rem white;
}

.article {
    display: flex;
    width: 100%;
    max-width: 1280px;
}

.section1 .article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.section1 {
    opacity: 0;
    animation: section1Bg 1.5s forwards;
}

.section1 .mainTypo {
    font-size: 10rem;
    font-weight: 700;
    text-align: center;
    line-height: 11rem;
    letter-spacing: -0.125rem;
    color: #000000;
    opacity: 0;
    animation: section1MainTypo 1.5s forwards;
}

.section1 .mainTypo p:nth-child(1),
.section1 .mainTypo p:nth-child(2) {
    color: var(--dgu-orange);
}

.outlineTypo {
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--dgu-orange);
}

.section1 .animationWrap {
}

.section1 .animationWrap .mouseWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    width: 2rem;
    opacity: 0;
    animation: section1Mouse 1s forwards;
    animation-delay: 1.5s;
}

.section1 .animationWrap .mouseWrap .mouseBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 3rem;
    border: 2px solid black;
    border-radius: 1rem;
}

.section1 .animationWrap .mouseWrap .mouseWheel {
    width: 0.375rem;
    height: 0.375rem;
    background-color: black;
    border-radius: 0.25rem;
    transform: translateY(-100%);
    animation: wheelDown 1.5s infinite;
    animation-delay: 2.5s;
    opacity: 0;
}

.glowTypo {
    background: linear-gradient(
        45deg,
        #000000 45%,
        #919191 49% 51%,
        #000000 55%
    );
    background-size: 200%;
    color: transparent;
    -webkit-background-clip: text;
    animation: glow 3s infinite;
}

#landingPage .section.section2 {
    align-items: center;
    justify-content: center;
    background: white;
    background-image: radial-gradient(var(--gray-300) 1px, transparent 0);
    background-size: 3rem 3rem;
}

.section2 .article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100svw;
    max-width: 100svw;
}

.section2 .article .sectionTitle {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.section2 .article .sectionDesc {
    font-size: 1rem;
    font-weight: 400;
    color: var(--gray-500);
    text-align: center;
    margin-bottom: 2rem;
}

.section2 .article .contentWrap {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    padding: 0 8rem;
    width: 100svw;
}

.section2 .article .contentWrap::-webkit-scrollbar {
    display: none;
}

.section2 .article .contentWrap .content {
    display: flex;
    flex-direction: column;
    height: 20rem;
    aspect-ratio: 5/6;
    background: var(--gray-50);
    border-radius: 0.5rem;
    background-size: cover;
    background-position: center center;
    opacity: 0;
    animation: contentPadeIn 2s forwards;
    animation-delay: 3s;
}

.section2 .article .contentWrap .content:nth-child(1) {
    transform: translate(-500%, 0) scale(3);
    animation: contentSlideIn1 2.75s forwards;
    animation-delay: 0.25s;
    z-index: 1;
}
.section2 .article .contentWrap .content:nth-child(2) {
    transform: translate(-500%, -500%) scale(4);
    animation: contentSlideIn2 3s forwards;
    animation-delay: 0;
    z-index: 2;
}
.section2 .article .contentWrap .content:nth-child(3) {
    transform: translate(0%, -500%) scale(5);
    animation: contentSlideIn3 3s forwards;
    animation-delay: 0;
    z-index: 3;
}
.section2 .article .contentWrap .content:nth-child(4) {
    transform: translate(500%, -500%) scale(5);
    animation: contentSlideIn4 2.5s forwards;
    animation-delay: 0.5s;
    z-index: 2;
}
.section2 .article .contentWrap .content:nth-child(5) {
    transform: translate(500%, 0) scale(3);
    animation: contentSlideIn5 2.9s forwards;
    animation-delay: 0.1s;
    z-index: 1;
}

.section2 .article .contentWrap .content .contentWrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    background-image: linear-gradient(
        30deg,
        var(--dgu-yellow-75) 50%,
        transparent 51%
    );
    background-size: 300% 200%;
    background-position: 0 -100%;
    background-repeat: no-repeat;
    transition: background-position 1s;
}

.section2 .article .contentWrap .content:hover .contentWrap {
    background-position: 0 100%;
}

.section2 .article .contentWrap .content .contentWrap .contentHeader,
.section2 .article .contentWrap .content .contentWrap .desc {
    display: none;
    opacity: 0;
    transition: opacity 0.5s;
}
.section2 .article .contentWrap .content:hover .contentWrap .contentHeader,
.section2 .article .contentWrap .content:hover .contentWrap .desc {
    display: flex;
    opacity: 1;
}

.section2 .article .contentWrap .content .contentWrap .contentHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.section2 .article .contentWrap .content .contentWrap .contentHeader .tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
}

.section2
    .article
    .contentWrap
    .content
    .contentWrap
    .contentHeader
    .tags
    .tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 0.75rem;
    height: 2.25rem;
    border: 1px solid white;
    border-radius: 1.125rem;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1rem;
    cursor: pointer;
}

.section2 .article .contentWrap .content .contentWrap .contentHeader .link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 2.25rem;
    height: 2.25rem;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.section2
    .article
    .contentWrap
    .content
    .contentWrap
    .contentHeader
    .link:hover {
    background-color: white;
}

.section2
    .article
    .contentWrap
    .content
    .contentWrap
    .contentHeader
    .link:hover
    svg
    path {
    stroke: var(--dgu-orange);
}

.section2 .article .contentWrap .content .contentWrap .desc {
    display: flex;
    width: 100%;
    max-height: 4.5rem;
    overflow: hidden;
    color: white;
}
