@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        transform: translateY(20%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#demoNiaPage {
    position: relative;
    width: 100svw;
    min-width: 100svw;
    max-width: 100svw;
    height: 100svh;
    min-height: 100svh;
    max-height: 100svh;
    background-color: var(--background-color);
    overflow: hidden;
}

#demoNiaPage .videoContainer {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100svh;
    max-height: 100svh;
    transition: transform 1s;
}

#demoNiaPage .videoContainer .videoWrap {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100svw;
    min-width: 100svw;
    max-width: 100svw;
    height: 100svh;
    min-height: 100svh;
    max-height: 100svh;
    background-color: #000000;
    color: #ffffff;
    overflow: hidden;
}

#demoNiaPage .videoContainer .videoWrap video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    z-index: 0;
    transition: opacity 1s;
}

#demoNiaPage .videoContainer .videoWrap .article {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    transition: opacity 1s;
}

#demoNiaPage .videoContainer .videoWrap .article .mainTypo {
    font-size: 5rem;
    font-weight: 700;
    font-family: "AlmarenaDisplay";
}
#demoNiaPage .videoContainer .videoWrap .article .funcWrap {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
#demoNiaPage .videoContainer .videoWrap .article .funcWrap .funcBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 3.3125rem;
    padding: 0.75rem 2rem;
    background-color: transparent;
    border: 1px solid #ffffff44;
    border-radius: 4rem;
    font-size: 1.125em;
    color: #ffffff;
    transition: background-color 0.3s, border 0.3s;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
}
#demoNiaPage .videoContainer .videoWrap .article .funcWrap .funcBtn:hover {
    background-color: #ffffff33;
    border: 1px solid #ffffff66;
}
#demoNiaPage .videoContainer .videoWrap .article .funcWrap .funcBtn p {
    min-height: 3.3125rem;
    transform: translateY(0);
    transition: transform 0.3s;
}

#demoNiaPage .videoContainer .videoWrap .article .funcWrap .funcBtn:hover p {
    transform: translateY(-3.3125rem);
}

#demoNiaPage .videoControl {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 5%;
    max-width: 6;
    height: 100%;
    background-size: 100%;
    color: #ffffff66;
    transition: color 0.5s;
    animation: fadeIn 0.5s forwards;
}
#demoNiaPage .videoControl:hover {
    color: #ffffffcc;
}

#demoNiaPage .videoControl.prev {
    left: 0;
    background: linear-gradient(to right, #00000033, transparent);
}

#demoNiaPage .videoControl.next {
    right: 0;
    background-image: linear-gradient(to left, #00000033, transparent);
}

#demoNiaPage .popUp {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100svw;
    height: 100svh;
    background-color: #00000066;
    backdrop-filter: blur(4px);
    animation: fadeIn 1s forwards;
    z-index: 10;
}

#demoNiaPage .popUp video {
    width: 100%;
    max-width: 960px;
}

#demoNiaPage .popUp .closeBtn {
    position: absolute;
    left: 50%;
    bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 3.3125rem;
    padding: 0.75rem 2rem;
    background-color: transparent;
    border: 1px solid #ffffff44;
    border-radius: 4rem;
    font-size: 1.125em;
    color: #ffffff;
    transition: background-color 0.3s, border 0.3s;
    transform: translateX(-50%);
    overflow: hidden;
    user-select: none;
    cursor: pointer;
    animation: fadeIn 1s 1s forwards;
    opacity: 0;
}
#demoNiaPage .popUp .closeBtn:hover {
    background-color: #ffffff33;
    border: 1px solid #ffffff66;
}
#demoNiaPage .popUp .closeBtn p {
    min-height: 3.3125rem;
    transform: translateY(0);
    transition: transform 0.3s;
}

#demoNiaPage .popUp .closeBtn:hover p {
    transform: translateY(-3.3125rem);
}

#demoNiaPage .analysisProgress {
    position: fixed;
    left: 50%;
    bottom: -4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 2rem;
    background-color: #ffffff;
    border-radius: 4rem;
    font-size: 1.125rem;
    font-weight: 500;
    box-shadow: 0 0.5rem 1rem #00000011;
    transform: translateX(-50%);
    transition: bottom 1s;
    user-select: none;
}

#demoNiaPage .analysisProgress svg {
    animation: loading 2s linear infinite;
}

#demoNiaPage .resultWrap {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    width: calc(100% - 2rem);
    max-width: 480px;
    background-color: #ffffff;
    border-radius: 1rem;
}

#demoNiaPage .resultWrap .mainTypo {
    font-size: 2rem;
    font-weight: 400;
    font-family: "AlmarenaDisplay";
    line-height: 2rem;
}

#demoNiaPage .resultWrap .summaryWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
}

#demoNiaPage .resultWrap .labledResultWrap,
#demoNiaPage .resultWrap .detectResultWrap {
    flex: 1;
    padding: 0.5rem 0.75rem;
    background-color: #f6f6f6;
    border-radius: 0.75rem;
    font-size: 1.25rem;
    font-weight: 500;
}

#demoNiaPage .resultWrap .labledResultWrap p:first-child,
#demoNiaPage .resultWrap .detectResultWrap p:first-child {
    font-size: 0.75rem;
    font-weight: 300;
    color: #666;
}

#demoNiaPage .resultWrap .top5Wrap {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 100%;
}

#demoNiaPage .resultWrap .top5Wrap .barWrap {
    display: flex;
    flex-direction: row;
    gap: 0.125rem;
    width: 100%;
    height: 1rem;
    border-radius: 0.5rem;
    overflow: hidden;
}

#demoNiaPage .resultWrap .top5Wrap .bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

#demoNiaPage .resultWrap .top5Wrap .listWrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
}

#demoNiaPage .resultWrap .top5Wrap .listWrap .label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
    line-height: 0.75rem;
    user-select: none;
}

#demoNiaPage .resultWrap .top5Wrap .listWrap .label .colorTip {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 0.25rem;
}

#demoNiaPage .resultWrap .top5Wrap .listWrap .label .key {
    font-size: 0.875rem;
    font-weight: 500;
    color: #333;
}
#demoNiaPage .resultWrap .top5Wrap .listWrap .label .value {
    font-size: 0.875rem;
    color: #666;
}
#demoNiaPage .resultWrap .top5Wrap .listWrap .label:nth-child(1) .colorTip,
#demoNiaPage .resultWrap .top5Wrap .bar:nth-child(1) {
    background-color: var(--dgu-red);
}
#demoNiaPage .resultWrap .top5Wrap .listWrap .label:nth-child(2) .colorTip,
#demoNiaPage .resultWrap .top5Wrap .bar:nth-child(2) {
    background-color: var(--dgu-orange);
}
#demoNiaPage .resultWrap .top5Wrap .listWrap .label:nth-child(3) .colorTip,
#demoNiaPage .resultWrap .top5Wrap .bar:nth-child(3) {
    background-color: var(--dgu-yellow);
}
#demoNiaPage .resultWrap .top5Wrap .listWrap .label:nth-child(4) .colorTip,
#demoNiaPage .resultWrap .top5Wrap .bar:nth-child(4) {
    background-color: var(--dgu-yellow-75);
}
#demoNiaPage .resultWrap .top5Wrap .listWrap .label:nth-child(5) .colorTip,
#demoNiaPage .resultWrap .top5Wrap .bar:nth-child(5) {
    background-color: var(--dgu-yellow-50);
}

#demoNiaPage .resultWrap .logWrap {
    padding: 0.75rem;
    width: 100%;
    background-color: #000011;
    border-radius: 0.75rem;
    font-size: 0.875rem;
    color: white;
    user-select: none;
}

/* Demo Robust */

#demoRobustPage {
    width: 100svw;
    min-width: 100svw;
    max-width: 100svw;
    height: 100svh;
    min-height: 100svh;
    max-height: 100svh;
    background-color: var(--background-color);
    transition: background-color 1s;
    overflow: hidden;
}

#demoRobustPage .bookSection {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100svw;
    height: 100svh;
    min-height: 100svh;
    overflow: hidden;
    transition: transform 1s;
}

#demoRobustPage .bookSection .bookShelf {
    display: flex;
    flex-direction: row;
    height: 100svh;
    min-height: 100svh;
    transition: transform 1s;
}
#demoRobustPage .bookWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 1rem;
    min-width: 100svw;
    width: 100svw;
    height: 100svh;
}

#demoRobustPage .bookWrap .mainTypo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120%;
    font-size: 10rem;
    font-family: "AlmarenaDisplay";
    font-weight: 700;
    text-align: center;
    line-height: 8.5rem;
    letter-spacing: -0.25rem;
    color: #00000033;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#demoRobustPage .bookWrap .subTypo {
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}

#demoRobustPage .bookWrap:nth-child(1) {
}
#demoRobustPage .bookWrap:nth-child(2) {
    background-size: 100% 100%;
}

#demoRobustPage .coverImg {
    height: 100%;
    max-height: 480px;
    user-select: none;
    box-shadow: 0 1rem 2rem #00000033;
    z-index: 10;
}

#demoRobustPage .controller {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

#demoRobustPage .bookSection .controller {
    bottom: 10%;
}

#demoRobustPage .questionSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    position: relative;
    padding: 2rem 0;
    width: 100svw;
    height: 100svh;
    min-height: 100svh;
    overflow: hidden;
    transition: transform 1s;
}

#demoRobustPage .questionSection .controller {
    top: 10%;
}

#demoRobustPage .questionSection .chatWrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.75rem;
    position: relative;
    width: calc(100% - 2rem);
    max-height: 65svh;
    max-width: 960px;
    flex: 1;
    overflow: scroll;
}

#demoRobustPage .questionSection .chatWrap .block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background-image: linear-gradient(
        to bottom,
        var(--background-color),
        transparent
    );
}

#demoRobustPage .questionSection .chatWrap .msgWrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-weight: 500;
}

#demoRobustPage .questionSection .chatWrap .msgWrap.my {
    justify-content: flex-end;
    width: 100%;
}

#demoRobustPage .questionSection .chatWrap .msgWrap.my .msg {
    width: fit-content;
    max-width: 60%;
    padding: 1rem 1.5rem;
    background-color: var(--foreground-color);
    border-radius: 1rem;
    color: var(--background-color);
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

#demoRobustPage .questionSection .chatWrap .msgWrap.ai {
    justify-content: flex-start;
    width: 100%;
}

#demoRobustPage .questionSection .chatWrap .msgWrap.ai .msg {
    width: fit-content;
    max-width: 60%;
    padding: 1rem 1.5rem;
    background-color: #ffffff;
    border-radius: 1rem;
    color: #333333;
}
#demoRobustPage .questionSection .chatWrap .msgWrap.ai .msgWaiting {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    width: fit-content;
    max-width: 60%;
    padding: 1rem 1.5rem;
    background-color: #ffffff;
    border-radius: 1rem;
    color: #999;
}
#demoRobustPage .questionSection .chatWrap .msgWrap.ai .msgWaiting .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
#demoRobustPage .questionSection .chatWrap .msgWrap.ai .msgWaiting .left svg {
    animation: loading 2s linear infinite;
}

#demoRobustPage .questionSection .chatWrap .msgWrap.ai .msgWaiting .right {
    display: flex;
    flex-direction: column;
    max-height: 1.5rem;
    overflow: hidden;
}
#demoRobustPage
    .questionSection
    .chatWrap
    .msgWrap.ai
    .msgWaiting
    .right
    .textWrap {
    display: flex;
    flex-direction: column;
    transform: translateY(-3rem);
    animation: waiting 100s infinite;
}

#demoRobustPage .questionSection .chatWrap .msgWrap.ai .msgWaiting p {
    height: 1.5rem;
}

@keyframes waiting {
    0% {
        transform: translateY(1.5rem);
    }
    1% {
        transform: translateY(0);
    }
    3% {
        transform: translateY(0);
    }
    4% {
        transform: translateY(-1.5rem);
    }
    7% {
        transform: translateY(-1.5rem);
    }
    8% {
        transform: translateY(-3rem);
    }
    10% {
        transform: translateY(-3rem);
    }
    11% {
        transform: translateY(-4.5rem);
    }
    13% {
        transform: translateY(-4.5rem);
    }
    14% {
        transform: translateY(-6rem);
    }
    30% {
        transform: translateY(-6rem);
    }
    31% {
        transform: translateY(-7.5rem);
    }
    100% {
        transform: translateY(-7.5rem);
    }
}

#demoRobustPage .questionSection .questionWrap {
    width: calc(100% - 2rem);
    max-width: 960px;
}

#demoRobustPage .questionSection .questionWrap .questionInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 1.5rem;
    background-color: #ffffff;
    border-radius: 1rem;
    color: var(--background-color);
    transition: background-color 0.5s, border 0.5s, color 0.5s, height 0.5s;
}

#demoRobustPage .questionSection .questionWrap .questionInput textarea {
    background-color: transparent;
    margin: 0;
    padding: 0.5rem;
    width: 100%;
    resize: none;
    outline: none;
    font-size: 1.125rem;
}

#demoRobustPage .questionSection .questionWrap .questionInput textarea:focus {
    border-bottom: 1px solid var(--background-color);
}

#demoRobustPage .questionSection .sampleQuestionWrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 100%;
}

#demoRobustPage .questionSection .questionWrap .questipnFuncWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#demoRobustPage .colBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 3rem;
    height: 3rem;
    padding: 0.75rem 0.75rem;
    background-color: var(--foreground-color);
    border-radius: 4rem;
    font-size: 1.125em;
    color: var(--background-color);
    transition: background-color 0.3s, border 0.3s;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
}
#demoRobustPage .colBtn p {
    min-height: 2.5rem;
    transform: translateY(0);
    transition: transform 0.3s;
    font-weight: 600;
}

#demoRobustPage .colBtn:hover p {
    transform: translateY(-100%);
}

#demoRobustPage .animBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 3.3125rem;
    padding: 0.75rem 2rem;
    background-color: transparent;
    border: 1px solid #ffffff44;
    border-radius: 4rem;
    font-size: 1.125em;
    color: #ffffff;
    transition: background-color 0.3s, border 0.3s;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
}

#demoRobustPage .animBtn:hover {
    background-color: #ffffff33;
    border: 1px solid #ffffff66;
}
#demoRobustPage .animBtn p {
    min-height: 3.3125rem;
    transform: translateY(0);
    transition: transform 0.3s;
}

#demoRobustPage .animBtn:hover p {
    transform: translateY(-100%);
}

#demoRobustPage .btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 3.3125rem;
    height: 3.3125rem;
    padding: 0.75rem 0.75rem;
    background-color: transparent;
    border: 1px solid #ffffff44;
    border-radius: 4rem;
    font-size: 1.125em;
    color: #ffffff;
    transition: background-color 0.3s, border 0.3s;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
}
#demoRobustPage .btn:hover {
    background-color: #ffffff33;
    border: 1px solid #ffffff66;
}
#demoRobustPage .btn p {
    min-height: 3.3125rem;
    transform: translateY(0);
    transition: transform 0.3s;
}

#demoRobustPage .btn:hover p {
    transform: translateY(-3.3125rem);
}

#demoRobustPage .btnSpacer {
    width: 3.3125rem;
    height: 3.3125rem;
    user-select: none;
    cursor: none;
}

#demoRobustPage .sampleBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 3rem;
    padding: 0.75rem 1.25rem;
    background-color: transparent;
    border: 1px solid var(--background-color);
    border-radius: 4rem;
    font-size: 1em;
    color: var(--background-color);
    transition: background-color 0.3s, border 0.3s, color 0.3s;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
}
#demoRobustPage .sampleBtn:hover {
    background-color: var(--background-color);
    color: var(--foreground-color);
}
#demoRobustPage .sampleBtn p {
    min-height: 2.5rem;
    transform: translateY(0);
    transition: transform 0.3s;
}

#demoRobustPage .sampleBtn:hover p {
    transform: translateY(-100%);
}
