#IntroductionPage {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 100%;
    max-width: var(--max-width);
}

#IntroductionPage > .article {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-bottom: 4rem;
    width: 100%;
}

#IntroductionPage > .article > .section {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 100%;
}

#IntroductionPage > .article h1 {
    font-size: 2rem;
    font-weight: var(--font-weight-semibold);
    color: var(--text-9);
}

#IntroductionPage > .article h2 {
    font-size: 1.5rem;
    font-weight: var(--font-weight-semibold);
    color: var(--text-8);
}

#IntroductionPage > .article h3 {
    font-size: 1.25rem;
    font-weight: var(--font-weight-medium);
    color: var(--text-7);
}

#IntroductionPage > .article p {
    font-size: 1rem;
    font-weight: var(--font-weight-medium);
    color: var(--text-6);
}

#IntroductionPage > .article ul {
    list-style-type: disc;
    padding-left: 1.5rem;
}

#IntroductionPage > .article strong {
    font-weight: var(--font-weight-medium);
    color: var(--text-orange);
}

#IntroductionPage > .article table {
    table-layout: fixed;
    border-top: 2px solid var(--col-black);
    border-bottom: 2px solid var(--col-black);
}
#IntroductionPage > .article table tr {
    border-bottom: 1px solid var(--col-black);
}

#IntroductionPage > .article table tr th {
    width: 16%;
    min-width: max-content;
    font-size: 1rem;
    font-weight: var(--font-weight-semibold);
    color: var(--text-8);
    padding: 1rem;
}

#IntroductionPage > .article table tr td {
    color: var(--text-8);
    padding: 1rem;
}

#IntroductionPage > .article .callout {
    padding: 1.5rem 2rem;
    background-color: var(--card-background);
    border: 1px solid var(--card-stroke);
    font-size: 1.125rem;
    font-weight: var(--font-weight-medium);
}
