#IntroductionPage {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 100%;
    max-width: var(--max-width);
}

#IntroductionPage > .article {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-bottom: 4rem;
    width: 100%;
}

#IntroductionPage > .article > .section {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 100%;
}
