#developerPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6rem;
    width: 100svw;
    height: 100svh;
    background-image: url("@/assets/images/logo-outline-x1.png");
    background-position: left bottom;
    background-size: 75% 75%;
    background-repeat: no-repeat;
}

#developerPage .article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 2rem);
    max-width: 960px;

    background-color: red;
}
