#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1.5rem 3rem;
    width: 100svw;
    z-index: 50;
}

#header .logoWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
    width: max-content;
    user-select: none;
}

#header .logoWrap .logo {
    width: 2rem;
    fill: var(--foreground-color);
}

#header .logoWrap .logoTypo {
    display: inline-block;
    font-size: 1.375rem;
    font-weight: 500;
    color: var(--foreground-color);
}

#header .menuWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: max-content;
}

#header .menuWrap .menu {
    cursor: pointer;
}

#header .menuWrap .menu.link {
    font-size: 1rem;
    font-weight: 500;
    color: var(--foreground-color);
    opacity: 0.75;
    transition: opacity 0.3s;
}

#header .menuWrap .menu.link:hover {
    opacity: 1;
}

#header .menuWrap .menu.btn {
    position: relative;
    padding: 0.625rem 1.5rem;
    background-color: var(--foreground-color);
    border-radius: 3rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--background-color);
    transition: background 0.5s, color 1s;
    overflow: hidden;
}

#header .menuWrap .menu.btn:hover {
}

#header .menuWrap .menu.btn span {
    position: absolute;
    top: 300%;
    left: 50%;
    width: 20rem;
    height: 20rem;
    background-color: white;
    opacity: 0.15;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: transform 0.3s;
}

#header .menuWrap .menu.btn:hover span {
    transform: translate(-50%, -50%) scale(1.2);
}
