.pageIn {
    position: fixed;
    width: 100svw;
    height: 100svh;
    z-index: 1000;
}

.pageIn.fade {
    position: fixed;
    width: 100svw;
    height: 100svh;
    z-index: 1000;
    background-color: var(--dgu-red);
    animation: pagePadeIn 1s forwards;
    opacity: 1;
}
.pageOut {
    position: fixed;
    width: 100svw;
    height: 100svh;
    z-index: 1000;
}
.pageIn .slide {
    position: fixed;
    width: 100svw;
    height: 100svh;
    transform: translateX(0);
    animation: slideRight 0.75s forwards;
}

.pageIn.fade .slide {
    display: none;
}
.pageOut .slide {
    position: fixed;
    width: 100svw;
    height: 100svh;
    transform: translateX(100%);
    animation: slideLeft 0.75s forwards;
}
.pageIn .slide:nth-child(1) {
    background-color: var(--dgu-yellow);
    animation-delay: 0.3s;
}
.pageIn .slide:nth-child(2) {
    background-color: var(--dgu-orange);
    animation-delay: 0.15s;
}
.pageIn .slide:nth-child(3) {
    background-color: var(--dgu-red);
    animation-delay: 0s;
}
.pageOut .slide:nth-child(1) {
    background-color: var(--dgu-yellow);
    animation-delay: 0s;
}

.pageOut .slide:nth-child(2) {
    background-color: var(--dgu-orange);
    animation-delay: 0.15s;
}

.pageOut .slide:nth-child(3) {
    background-color: var(--dgu-red);
    animation-delay: 0.3s;
}
@keyframes slideLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes pagePadeIn {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
