#sideBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    width: 6.5rem;
    min-height: 100svh;
    height: 100%;
    background-color: white;
    border-right: 1px solid #e1e1e1;
    transition: width 1s, background-color 1s;
}

#sideBar .content {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
}

#sideBar .content.activated {
    display: none;
}

#sideBar .content.deactivated {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

#sideBar.activate {
    background-color: #ea5515;
    border-right: 0px solid #e1e1e1;
}

#sideBar.activate .content.activated {
    display: flex;
}

#sideBar.activate .content.deactivated {
    display: none;
}

#sideBar .content.activated .sideBarLogo {
    width: 100%;
    max-width: 10.75rem;
}

#sideBar .content.deactivated .sideBarLogo {
    width: 3.125rem;
    height: 3.125rem;
}

#sideBar .menuWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 2.5rem;
    height: 1.5375rem;
    overflow: hidden;
}

#sideBar .menuWrap .menuBar {
    display: block;
    width: 2.5rem;
    height: 0.1875rem;
    background-color: #000000;
}

#sideBar .menuWrap .menuBar1 {
    animation: SlideLeftIn 0.3s forwards;
}

#sideBar .menuWrap .menuBar2 {
    animation: SlideRightIn 0.3s forwards;
}

#sideBar .menuWrap:hover .menuBar1 {
    animation: SlideLeftOut 0.3s forwards;
}

#sideBar .menuWrap:hover .menuBar2 {
    animation: SlideRightOut 0.3s forwards;
}

#sideBar .menuWrap .menuTag {
    display: block;
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.75rem;
    font-weight: 700;
}

#sideBar .menuWrap:hover .menuTag {
    animation: PopIn 0.75s 0.1s forwards;
}

@keyframes SlideLeftOut {
    0% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(25%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes SlideRightOut {
    0% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes SlideLeftIn {
    0% {
        transform: translateX(-100%);
    }
    40% {
        transform: translateX(25%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes SlideRightIn {
    0% {
        transform: translateX(100%);
    }
    40% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes PopIn {
    0% {
        top: 2rem;
        transform: translateX(-50%) rotate(6deg);
    }
    55% {
        top: 0;
    }
    60% {
        transform: translateX(-50%) rotate(12deg);
    }
    90% {
        top: 0.35rem;
        transform: translateX(-50%) rotate(0deg);
    }
    100% {
        top: 0.45rem;
    }
}
