@font-face {
    font-family: "Wanted Sans Variable";
    font-style: normal;
    src: url("./assets/fonts/WantedSansVariable.woff2")
        format("woff2-variations");
}
@font-face {
    font-family: "AlmarenaDisplay";
    src: url("./assets/fonts/AlmarenaDisplay-Light.woff2") format("woff2");
    font-display: swap;
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "AlmarenaDisplay";
    src: url("./assets/fonts/AlmarenaDisplay-Regular.woff2") format("woff2");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "AlmarenaDisplay";
    src: url("./assets/fonts/AlmarenaDisplay-Bold.woff2") format("woff2");
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Title";
    src: url("./assets/fonts/Title-Regular.woff2") format("woff2");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Title";
    src: url("./assets/fonts/Title-Bold.woff2") format("woff2");
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

* {
    font-family: "Wanted Sans Variable";
}
.w-responsive-sign {
    width: 460px;
    max-width: 460px;
}

@media screen and (min-width: 721px) {
    .w-responsive-sign {
        width: 460px;
    }
}

@media screen and (max-width: 720px) {
    .w-responsive-sign {
        width: calc(100% - 2rem);
    }
}

body {
    overflow-x: hidden;
}
img {
    pointer-events: none;
}

.page {
    z-index: 0;
}

.displayFont {
    font-family: "Title";
}

p {
    font-family: inherit;
}
