@font-face {
    font-family: "Wanted Sans Variable";
    font-style: normal;
    src: url("./assets/fonts/WantedSansVariable.woff2")
        format("woff2-variations");
}
@font-face {
    font-family: "Cafe24ClassicType";
    src: url("./assets/fonts/Cafe24Classictype.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "LOTTERIADDAG";
    src: url("./assets/fonts/LOTTERIADDAG.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: "Wanted Sans Variable";
}

.w-responsive-sign {
    width: 460px;
    max-width: 460px;
}

@media screen and (min-width: 721px) {
    .w-responsive-sign {
        width: 460px;
    }
}

@media screen and (max-width: 720px) {
    .w-responsive-sign {
        width: calc(100% - 2rem);
    }
}

img {
    pointer-events: none;
}

.page {
    z-index: 0;
}
