@tailwind base;
@tailwind components;
@tailwind utilities;

/* black */
@layer base {
    :root {
        /* 전역 변수 */
        --background: #ffffff;
        --forground: #000000;
        --max-width: 80rem;
        --radius: 1rem;
        --dimmed: #00000066;
        /* 색상 */
        --col-header: #ffffff77;
        --col-0: #ffffff;
        --col-1: #f9f9f9;
        --col-2: #dcdcdc;
        --col-3: #c0c0c0;
        --col-4: #a2a2a2;
        --col-5: #858585;
        --col-6: #686868;
        --col-7: #4d4c4c;
        --col-8: #313030;
        --col-9: #131212;
        --col-orange: #ff7a00;
        --col-orange-0: #ff7b0000;
        --col-orange-1: #ff7b0066;
        --col-orange-2: #ff7b0010;
        /* 택스트 굵기 */
        --font-weight-thin: 150;
        --font-weight-extralight: 250;
        --font-weight-light: 350;
        --font-weight-reguler: 450;
        --font-weight-medium: 550;
        --font-weight-semibold: 650;
        --font-weight-bold: 750;
        --font-weight-extrabold: 850;
        --font-weight-black: 900;
        /* 그리드 */
        --grid-gutter: 1.25rem;
        /* 카드 색상 */
        --card-text: #131212;
        --card-background: #f3f3f3;
        --card-background-inverse: #323232;
        --card-stroke: #eeedeb;
        --card-radius: 1rem;
        /* 푸터 색상 */
        --footer-text: #9d9d9d;
        --footer-foreground: #232323;
        --footer-background: #15151a;
        /* 그림자 */
        --shadow: 0 0 0.75rem 0 #eeeeee;
        --shadow-active: 0 0.25rem 1rem 0 #dfdfdf;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

.gridPage {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--grid-gutter);
}

.card {
    background-color: var(--card-background);
    border: 1px solid var(--card-stroke);
    border-radius: var(--card-radius);
    color: var(--card-text);
}

.iconWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
}

.pageInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
    width: 100%;
    gap: 1.5rem;
    user-select: none;
}

.pageInfo > .pageName {
    font-size: 1rem;
    font-weight: 700;
    color: var(--col-8);
}

.pageInfo > .pageSlogan {
    width: 100%;
    text-align: center;
    font-size: 2.75rem;
    line-height: 3.5rem;
    font-weight: 800;
    color: var(--col-8);
}

.pageInfo > .pageSlogan > .description {
    line-height: 1.25rem;
    font-size: 1.25rem;
    font-weight: var(--font-weight-light);
    color: var(--col-5);
}

.pageInfo > .linkBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    padding: 0.5rem 0.75rem;
    background-color: var(--col-0);
    border: 1px solid var(--card-stroke);
    font-size: 1rem;
    font-weight: var(--font-weight-reguler);
    color: var(--col-5);
    cursor: pointer;
    transition: 0.3s;
}

.pageInfo > .linkBtn:hover {
    background-color: var(--card-background);
    color: var(--col-8);
}

.article h1 {
    font-size: 2rem;
    font-weight: var(--font-weight-semibold);
    color: var(--col-9);
}

.article h2 {
    font-size: 1.5rem;
    font-weight: var(--font-weight-semibold);
    color: var(--col-8);
}

.article h3 {
    font-size: 1.25rem;
    font-weight: var(--font-weight-medium);
    color: var(--col-7);
}

.article p {
    font-size: 1rem;
    font-weight: var(--font-weight-medium);
    color: var(--col-6);
}

.article ul {
    list-style-type: disc;
    padding-left: 1.5rem;
}

.article strong {
    font-weight: var(--font-weight-medium);
    color: var(--col-orange);
}

.article table {
    table-layout: fixed;
    border-top: 2px solid var(--col-9);
    border-bottom: 2px solid var(--col-9);
}
.article table tr {
    border-bottom: 1px solid var(--col-9);
}

.article table tr th {
    width: 16%;
    min-width: max-content;
    font-size: 1rem;
    font-weight: var(--font-weight-semibold);
    color: var(--col-8);
    padding: 1rem;
}

.article table tr td {
    color: var(--col-8);
    padding: 1rem;
}

.article .callout {
    padding: 1.5rem 2rem;
    background-color: var(--card-background);
    border: 1px solid var(--card-stroke);
    font-size: 1.125rem;
    font-weight: var(--font-weight-medium);
}

.btn {
    padding: 0.5rem 1.25rem;
    background-color: var(--col-9);
    border: 1px solid var(--col-9);
    border-radius: 4rem;
    font-size: 1rem;
    font-weight: var(--font-weight-medium);
    color: var(--col-0);
    scale: 1;
    transition: 0.3s;
}

.btn:hover {
    background-color: var(--col-8);
    scale: 1.025;
}
.btn:active {
    background-color: var(--col-0);
    color: var(--col-9);
    scale: 0.975;
}
